<a href="https://colab.research.google.com/github/RochaMansueto/RochaMansueto/blob/main/Preven%C3%A7%C3%A3o_de_Estoque.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## bibliotecas

In [ ]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
import sqlite3

## Carregamento dos dados

In [ ]:
con = sqlite3.connect('trabalhotera.db')
df_base = pd.read_sql('SELECT * FROM base;', con)
con.close()

## Análise Exploratória

In [ ]:
df_base.rename(str.lower, axis=1,inplace=True)

In [ ]:
df_base.head(3)

,data,oe / viagem,cod. produto,produto,tipo do produto,conferente,auditor,cx,kg,anomalia,cx divergentes,kg divergente,r$ anomalia
0,2022-02-01 00:00:00,3701970,6220,LOMBO CANADENSE S GOURMET,VARIÁVEL,ADRIANO DA SILVA SANTOS,NÃO AUDITADO,51,322.312,NÃO AUDITADO,0,0.0,0.0
1,2022-02-01 00:00:00,3701970,9288,LINGUICA TOSCANA SEARA,FIXO,ADRIANO DA SILVA SANTOS,NÃO AUDITADO,22,440.000,NÃO AUDITADO,0,0.0,0.0
2,2022-02-01 00:00:00,3701970,27150,"SELETA MISTA CONG 1,05KG",FIXO,ADRIANO DA SILVA SANTOS,NÃO AUDITADO,72,756.000,NÃO AUDITADO,0,0.0,0.0

In [ ]:
df_base.shape

(567281, 13)

In [ ]:
df = df_base.copy()

In [ ]:
df.dtypes

data                object
oe / viagem          int64
cod. produto         int64
produto             object
tipo do produto     object
conferente          object
auditor             object
cx                   int64
kg                 float64
anomalia            object
cx divergentes       int64
kg divergente      float64
r$ anomalia        float64
dtype: object

In [ ]:
df.nunique()

data                  85
oe / viagem        15980
cod. produto         932
produto              898
tipo do produto        3
conferente            73
auditor               13
cx                   919
kg                 29686
anomalia              12
cx divergentes        58
kg divergente        170
r$ anomalia          351
dtype: int64

In [ ]:
df = df.astype({'data': 'category','produto': 'category','tipo do produto': 'category','conferente': 'category','auditor': 'category','anomalia': 'category'})

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 567281 entries, 0 to 567280
Data columns (total 13 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   data             567281 non-null  category
 1   oe / viagem      567281 non-null  int64
 2   cod. produto     567281 non-null  int64
 3   produto          567281 non-null  category
 4   tipo do produto  567281 non-null  category
 5   conferente       567281 non-null  category
 6   auditor          567281 non-null  category
 7   cx               567281 non-null  int64
 8   kg               567281 non-null  float64
 9   anomalia         567281 non-null  category
 10  cx divergentes   567281 non-null  int64
 11  kg divergente    567281 non-null  float64
 12  r$ anomalia      567281 non-null  float64
dtypes: category(6), float64(3), int64(4)
memory usage: 34.1 MB

In [ ]:
df.isnull().sum()

data               0
oe / viagem        0
cod. produto       0
produto            0
tipo do produto    0
conferente         0
auditor            0
cx                 0
kg                 0
anomalia           0
cx divergentes     0
kg divergente      0
r$ anomalia        0
dtype: int64

In [ ]:
df_fevereiro = df.iloc[:199439]

In [ ]:
df.loc[df['data'] == '2022-02-01']

Empty DataFrame
Columns: [data, oe / viagem, cod. produto, produto, tipo do produto, conferente, auditor, cx, kg, anomalia, cx divergentes, kg divergente, r$ anomalia]
Index: []